@charset "UTF-8";
p{
    display: inline-block;
}
.yes{
    border:1px;
    padding:5px;
    background-color: green;
    border-radius: 3px;
}
.warning{
    border:1px;
    padding:5px;
    background-color: yellowgreen;
    border-radius: 3px;
}

.table1{
    border-collapse: collapse;
    width: 1200px;
}
.table1 tr{
    border-bottom: 1px solid #2c1112;
    text-align: center;
}
.table1 tr td,.table1 tr th{
    padding: 15px;
    text-align: center;
}
.table1 tbody tr:nth-child(odd){
    background-color: antiquewhite;
}
.a1{
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    text-decoration: none;
    transition: transform 0.5s,background-color 0.2s;
    border-radius: 8px;
}
.a1:hover{
    transform: scale(1.1,1.1);
    background-color: red;
}